In [54]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

warnings.filterwarnings('ignore')

In [55]:
df=pd.read_csv("clean_data.csv")

In [56]:
df.head()

,age,is_female,bmi,children,is_smoker,charges,region_southeast,bmi_category_Obese
0,-1.440418,1,-0.517949,-0.909234,1,16884,0,0
1,-1.511647,0,0.462463,-0.079442,0,1725,1,1
2,-0.799350,0,0.462463,1.580143,0,4449,1,1
3,-0.443201,0,-1.334960,-0.909234,0,21984,0,0
4,-0.514431,0,-0.354547,-0.909234,0,3866,0,0

In [57]:
X=df.drop(columns=["charges"], axis=1)
y=df["charges"]

In [58]:
X.head()

,age,is_female,bmi,children,is_smoker,region_southeast,bmi_category_Obese
0,-1.440418,1,-0.517949,-0.909234,1,0,0
1,-1.511647,0,0.462463,-0.079442,0,1,1
2,-0.799350,0,0.462463,1.580143,0,1,1
3,-0.443201,0,-1.334960,-0.909234,0,0,0
4,-0.514431,0,-0.354547,-0.909234,0,0,0

In [59]:
y.head()

0    16884
1     1725
2     4449
3    21984
4     3866
Name: charges, dtype: int64

# Step 1: Split the data

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 2: Fit scaler on training data

In [61]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
# Step 3: Transform test data using same scaler
X_test_scaled = scaler.transform(X_test)

In [62]:
X_train_scaled

array([[-1.1576804 , -0.97140947, -0.99651264, ..., -0.50029231,
        -0.60581158, -1.03523206],
       [-1.30061876, -0.97140947, -0.83173739, ..., -0.50029231,
        -0.60581158, -1.03523206],
       [ 0.91492586,  1.029432  ,  1.14556565, ..., -0.50029231,
        -0.60581158,  0.96596699],
       ...,
       [-1.37208794, -0.97140947, -1.32606315, ..., -0.50029231,
        -0.60581158, -1.03523206],
       [-0.08564268,  1.029432  , -0.33741163, ..., -0.50029231,
        -0.60581158, -1.03523206],
       [-0.30005022,  1.029432  ,  0.81601515, ..., -0.50029231,
         1.65067825,  0.96596699]], shape=(1069, 7))

In [63]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [64]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

In [65]:
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train_scaled)
    y_test_pred = model.predict(X_test_scaled)

    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 16383.9317
- Mean Absolute Error: 14817.7755
- R2 Score: -0.9606
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 15459.5664
- Mean Absolute Error: 14053.1812
- R2 Score: -0.3006
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 16375.8137
- Mean Absolute Error: 14809.2873
- R2 Score: -0.9586
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 15451.1283
- Mean Absolute Error: 14044.6676
- R2 Score: -0.2992
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 16251.4487
- Mean Absolute Error: 14684.2307
- R2 Score: -0.9290
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 15324.6659
- Mean Absolute Error: 13919.1259
- R2 Score: -0.2780
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 4067.3478
- Mean Absolute Error: 2250.6761
- R2 Score: 0.8792
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4572.6221
- Mean Absolute Error: 2613.0776
- R2 Score: 0.8862
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 496.0246
- Mean Absolute Error: 42.7003
- R2 Score: 0.9982
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6836.7733
- Mean Absolute Error: 3329.0429
- R2 Score: 0.7456
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 1929.9190
- Mean Absolute Error: 1076.2030
- R2 Score: 0.9728
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4946.2545
- Mean Absolute Error: 2857.7662
- R2 Score: 0.8669
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 2396.7606
- Mean Absolute Error: 1145.3926
- R2 Score: 0.9580
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5367.6434
- Mean Absolute Error: 3152.0178
- R2 Score: 0.8432
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 2931.3517
- Mean Absolute Error: 1591.7343
- R2 Score: 0.9372
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 4874.5228
- Mean Absolute Error: 2814.4761
- R2 Score: 0.8707
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5350.0385
- Mean Absolute Error: 4611.0361
- R2 Score: 0.7909
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5368.5930
- Mean Absolute Error: 4706.0925
- R2 Score: 0.8432
===================================

In [66]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
3    K-Neighbors Regressor  0.886214
7    CatBoosting Regressor  0.870693
5  Random Forest Regressor  0.866859
6             XGBRegressor  0.843207
8       AdaBoost Regressor  0.843152
4            Decision Tree  0.745633
2                    Ridge -0.278028
1                    Lasso -0.299208
0        Linear Regression -0.300627